*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
body{
    background: rgb(170,170,170);
    background: linear-gradient(166deg, rgba(170,170,170,1) 0%, rgba(23,18,20,1) 100%);
    height: 95vh;
}
.carrousel{
    border: solid 1px white;
    margin: 0 auto;
    padding-top:1.5em; 
    margin-top:3em;
    overflow: hidden;
    height: 80%;
    width: 25%;
    border-radius: 20px;

}
.carrousel img{
    width: calc( 100% / 3 - 2em);
    border-radius: 9px;
}
.grande{
    width: 300%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    transition: .5s ease;
    transform: translateX(0%);
}
.carrousel .puntos{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
   

}
.carrousel .punto{
    width:  1em;
    height: 1em;
    margin: 1% 5%;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 20px gray;
    background-color: rgb(61, 57, 57);
    border: solid 1px white;
}
.carrousel .punto.activo{
    box-shadow: 0 0 20px gray;
    background-color: white;
}
.g1,.g2,.g3{
    transition: .9s ease;
}
.g1{
    transform: translateX(-.5%);
}
.g2{
    transform: translateX(-33.2%);
}
.g3{
    transform: translateX(-66%);
}
@media(max-width: 650px){
    .carrousel{
        width: 45vw;
        height: 85vh;
    }
}
